.body {
    background-color: darkgrey;
    height: 660px;
    border-radius: 0 0 5px 5px;
    display: block;
    padding: 1%;
}

.home {
    height: 245px;
    background-color: aliceblue;
    margin: 10px 0 0 0;
    border-radius: 10px;
}

.blogs {
    margin: 10px 0 0 0;
    height: 250px;
    background-color: aliceblue;
    border-radius: 10px;
}

.help {
    height: 120px;
    background-color: aliceblue;
    margin: 10px 0 0 0;
    border-radius: 10px;
}