body{
    background-color: gray;
}

.header {
    color: white;
    background-color: black;
    font-size: 20px;
    height: 90px;
    border-radius: 5px 5px 0 0;
}

.menus {
    list-style: none;
    padding: 15px 0 0 0;
}

.menus li {
    display: inline-block;
    margin: 0 0 0 300px;
    vertical-align: middle;
    cursor: pointer;
    height: 40px;
    width: 90px;
    text-align: center;
    font-size: 20px;
    padding: 15px 0 0 0;
    border-radius: 5px;
}

.menus li:hover {
    color: black;
    background-color: white;
}

#main {
    margin: 0 0 0 10px;
}